body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #F0F1F5;
}

body h2 {
    text-align: center;
    padding: 8px 0;
}

#etiquetaForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cabecalho-form {
    display: flex;
    align-items: center;
    height: 35px;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 50px;
    gap: 14px;
    color: #000000;
    background-color: #ffffff;
}

form#etiquetaForm {
    background-color: #fff;
    max-width: 90%;
    border-radius: 12px;
    align-self: center;
    padding: 20px;
    margin-top: 30px;
    box-shadow: #00000017 5px 5px 8px;
}

#secretarias {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    gap: 8px;
}

.sec-area {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C8C9FE;
    padding-bottom: 6px;
}

.check-sec {
    width: 30%;
}

button {
    background-image: linear-gradient(90deg, #283FD1, #037CEE);
    color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: #0000006e 3px 3px 3px;
    width: 140px;
    align-self: center;
    padding: 12px 8px;
    margin-top: 30px;
    cursor: pointer;
}

input,
select {
    background-color: #F0F1F5;
    border-radius: 4px;
    border: 1px solid #c8c9fe5e;
    padding: 4px 12px;
}

/*ESTILOS DA PAGINA RELATORIOS*/

main.principal-relatorio {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 90%;
    border-radius: 12px;
    align-self: center;
    padding: 20px;
    gap: 22px;
    margin-top: 30px;
}

#form-oficio,
#form-tabela {
    border-radius: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 18px;
    gap: 8px;
}

#form-tabela {
    padding-left: 35px;
    border-left: 3px solid #F4F4F4;
}

main form input {
    width: 80px;
}

#form-oficio input {
    min-width: 200px;
}